<div class="grid grid-pad" *ngIf="!LaunchListUpdated">
    <a *ngFor="let item of launchList; let i= index" class="col-1-3">
        <div class="dashboard-module hero">
            <div class ="dashboard-img-container">
                 <img [src]="item.links.mission_patch_small" style="width: 100%; height: 100%;"></div>
          <div class="margin-0 spaceX-label spaceX-name">{{item.mission_name + ' #' }} {{i+1}}</div>
          <div class="spaceX-label" > Mission Ids:</div>
            <div class="spaceX-label" > Launch Year: 
                <span class="spaceX-value"> {{item.launch_year}}</span> </div>
            <div class="spaceX-label" > Successfull Launch: {{item.launch_success}}</div>
        </div>
    </a>
</div>
<div class="grid grid-pad" *ngIf="LaunchListUpdated?.length > 0">
    <a *ngFor="let item of LaunchListUpdated; let i= index" class="col-1-3">
        <div class="dashboard-module hero">
            <div class ="dashboard-img-container">
                 <img [src]="item.links.mission_patch_small" style="width: 100%; height: 100%;"></div>
          <div class="margin-0 spaceX-label spaceX-name">{{item.mission_name + ' #' }} {{i+1}}</div>
          <div class="spaceX-label" > Mission Ids:</div>
            <div class="spaceX-label" > Launch Year: 
                <span class="spaceX-value"> {{item.launch_year}}</span> </div>
            <div class="spaceX-label" > Successfull Launch: {{item.launch_success}}</div>
        </div>
    </a>
</div>